.swipeButtons {
  position: fixed;
  bottom: 8vh;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
.swipeButton__repeat {
  background-color: white !important;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.5) !important;
  color: #f5b748 !important;
  padding: 15px !important;
}
.swipeButton__cloze {
  background-color: white !important;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.5) !important;
  color: #ec5e6f !important;
  padding: 15px !important;
}
.swipeButton__star {
  background-color: white !important;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.5) !important;
  color: #62b4f9 !important;
  padding: 15px !important;
}
.swipeButton__favorite {
  background-color: white !important;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.5) !important;
  color: #76e2b3 !important;
  padding: 15px !important;
}
.swipeButton__Flash {
  background-color: white !important;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.5) !important;
  color: #915dd1 !important;
  padding: 15px !important;
}
